@keyframes animate {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

.vip {
  position: relative;
  height: 100%;
  background: url('./image/back.png') no-repeat;
  background-size: cover;

  .pay {
    position: absolute;
    width: 264px;
    height: 102px;
    bottom: 130px;
    right: 140px;
    animation: animate 700ms linear infinite alternate;
  }
}
